.loadmore-button {
    background-color: #d32f2f;
    border: none;
    padding: 0 32px;
    text-transform: uppercase;
    font-weight: bold;
    transform: skewX(-20deg);
    transition: all 0.3s;
    color: white;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    max-width: 170px;
  margin: 0 auto;
  }
  
  .loadmore-button:hover {
    background-color: #c62828;
    transform: skewX(0deg);
    border-radius: 8px;
  }
  
  .loadmore-button:disabled {
    background-color: #e57373;
    cursor: not-allowed;
  }
  