.pageWrapper {
  background-image: url("../../assets/marvel-background-web.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  gap: 20px;
}

.loginForm h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}


.errorMessage {
  color: #e74c3c;
  font-size: 1rem;
  margin-top: 15px;
  text-align: left;
  padding: 0 10px;
}
