.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #13141a;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.backgroundImageWrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1rem);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.3;
}

.bgImage {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.comicContainer {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
}

.comicImage {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comicTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.comicTitle:hover {
  color: #f6f6f6;
}

.publisDate {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  color: #d1d1d1;
}
.price {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  color: #d1d1d1;
}
.publisDate span,
.priceType {
  text-transform: uppercase;
  font-weight: bold;
}

.comicDescription {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #e0e0e0;
}

.creatorsList {
  list-style: none;
  padding: 0;
}

.creatorsList li {
  font-size: 0.95rem;
  color: #e0e0e0;
  margin-bottom: 8px;
}

.creatorsRole {
  font-weight: bold;
}

.creatorsName {
  font-weight: normal;
}
.favoriteButton {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.95rem;
  color: #e0e0e0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon:hover {
  fill: red;
  color:Red
}

@media screen and (min-width: 769px) {
  .comicContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .contentContainer {
    gap: 15px;
  }

  .comicImage {
    max-width: 350px;
  }

  .comicTitle {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .comicContainer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .comicTitle {
    font-size: 2rem;
  }

  .contentContainer {
    gap: 25px;
  }

  .comicImage {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .comicContainer {
    padding: 15px;
  }

  .comicTitle {
    font-size: 1.3rem;
  }

  .contentContainer {
    gap: 15px;
  }

  .comicImage {
    max-width: 100%;
  }
}
