.profileContainer {
  padding: 20px;
  border-radius: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

.profileContainer p {
  padding-bottom: 10px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c;
}
