.slider-wrapper {
  padding: 60px 0px;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.slider-title {
  font-weight: bold;
  font-size: 28px;
  padding: 32px 16px;
}

.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  padding: 16px;
}

.slide {
  flex: 0 0 auto;
  width: 70%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.slide-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comic-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  min-height: 45px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-button:hover {
  background-color: rgb(203, 33, 33);
  transform: scale(1.1);
}

.slider-button:disabled {
  background-color: rgb(225, 174, 174);
  cursor: not-allowed;
  box-shadow: none;
}

.icon {
  width: 20px;
  height: 20px;
}
.see-detail {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 14px;
}
@media screen and (min-width: 768px) {
  .slide {
    width: 30%;
  }
  .slider-controls {
    top: 40px;
    justify-content: end;
    gap: 8px;
  }
  .slider-button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .slider-button:hover {
    background-color: rgb(203, 33, 33);
    transform: scale(1.1);
  }

  .slider-button:disabled {
    background-color: rgb(225, 174, 174);
    cursor: not-allowed;
    box-shadow: none;
  }
}

@media screen and (min-width: 1440px) {
  .slider-container {
    max-width: 1280px;
  }
  .slider {
    padding-left: 0px;
  }
  .slider-title {
    padding-left: 0px;
  }
  .slide {
    width: 19%;
  }
}
