header {
  background-color: #202020;
}
.header-bottom-container {
  display: none;
}
.greeting {
  display: none;
}
.icon {
  color: white;
  width: 28px;
  height: 28px;
}
.session-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.mobile-nav-button {
  background: none;
  border: none;
}
.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #393939;
  max-width: 1280px;
  margin: 0 auto;
}

.side-nav {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #151515;
  color: white;
  transition: left 0.5s ease;
  z-index: 100;
}

.side-nav.open {
  left: 0;
  width: 100%;
}

.side-nav.closed {
  left: -100%;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  left: 90%;
  top: 20px;
}
.close-icon {
  color: red;
}
.mobile-nav-list li {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .greeting {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 18 0px;
  }
  .header-bottom-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav-list {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    /* padding: 8px 0px; */
  }
  .desktop-nav-list li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (min-width: 1440px) {
  .header-top-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
