header {
  background-color: #202020;
}
.hb-container,
.greeting {
  display: none;
}

.session-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.ht-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #393939;
}

.side-nav {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #151515;
  color: white;
  transition: left 0.5s ease;
  z-index: 100;
}

.side-nav.open {
  left: 0;
  width: 100%;
}

.side-nav.closed {
  left: -100%;
}

.close-btn {
  position: relative;
  left: 90%;
  top: 20px;
}
.close-icon {
  color: red;
}
.mobile-nav-list li {
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .greeting {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 18 0px;
  }
  .hb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav-list {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
  }
  .desktop-nav-list li {
    text-transform: uppercase;
    font-weight: bold;
  }
}
