* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
  
  }
  ul {
    list-style: none;
  }
a{
  text-decoration: none;
  color:white;
  }
  button{
    cursor: pointer;
    background: none;
    border: none;
  }
   html, body {
    height: 100%; 
    margin: 0;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
  }
  
  .main-content {
    flex: 1; 
  } 
  